---
const testimonials = [
  {
    name: "Lola C.",
    role: "Cafetería MaiTai",
    quote: "Fue un placer verlo tocar en directo. Sin duda una actuación increíble!!!",
    image: "https://randomuser.me/api/portraits/women/32.jpg"
  },
  {
    name: "Sergio P.",
    role: "Evento",
    quote: "Un espectáculo muy dinámico, mucha interacción con el público y mucha pasión, es capaz de llenar un bar y tiene un equipo bastante bueno.",
    image: "https://randomuser.me/api/portraits/men/45.jpg"
  },
  {
    name: "Ivan",
    role: "Coctel de Boda",
    quote: "Genial recomendable 100%. persona muy cercana y un auténtico profesional. Benito fue un gran profesional hizo de nuestro día un espectáculo.",
    image: "https://randomuser.me/api/portraits/women/68.jpg"
  },
  {
    name: "Sergio C.",
    role: "Coctel de Boda",
    quote: "Músico muy cualificado que hace que pases la mejor de las noches, entretenimiento y disfrute al máximo, lo recomiendo al 100%.",
    image: "https://randomuser.me/api/portraits/women/68.jpg"
  }
];
---

<section id="testimonios" class="py-20 bg-gray-50">
  <div class="container mx-auto px-4">
    <div class="text-center mb-16">
      <h2 class="text-3xl font-bold mb-4 text-primary">Testimonios</h2>
      <p class="text-lg text-gray-600 max-w-3xl mx-auto">
        Lo que dicen mis clientes sobre mis servicios.
      </p>
    </div>
    
    <div class="grid grid-cols-1 md:grid-cols-2 md:gap-x-10 gap-y-4">
      {testimonials.map((testimonial) => (
        <div class="bg-white p-6 rounded-lg shadow-md">
          <div class="flex items-center mb-4">
            {/* <img 
              src={testimonial.image} 
              alt={testimonial.name} 
              class="w-16 h-16 rounded-full mr-4"
            /> */}
            <div>
              <h3 class="font-semibold text-lg text-primary">{testimonial.name}</h3>
              <p class="text-gray-500">{testimonial.role}</p>
            </div>
          </div>
          <p class="text-gray-600 italic">"{testimonial.quote}"</p>
        </div>
      ))}
    </div>
  </div>
</section>